div.home-page
  div.main(layout="column" layout-wrap)
    h1.md-display-3 Starter Template
    h2.md-headline A modern responsive front-end framework based on Material Design
    div.action
      a.md-button.md-raised.md-accent Get Started
  div.first(layout layout-sm="column" layout-align="space-around start")
    div.md-padding(layout="column" flex="25")
      div.text-center
        md-icon.md-primary flash_on
      div.text-center
        h3.md-headline Speeds up development
      div
        p.md-body-1 We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
    div.md-padding(layout="column" flex="25")
      div.text-center
        md-icon.md-primary group
      div.text-center
        h3.md-headline User Experience Focused
      div
        p.md-body-1 By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
    div.md-padding(layout="column" flex="25")
      div.text-center
        md-icon.md-primary settings
      div.text-center
        h3.md-headline Easy to work with
      div
        p.md-body-1 We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.