md-toolbar(hide-gt-md="")
  .md-toolbar-tools
    md-button.md-icon-button(aria-label="Menu" ng-click="app.toggleLeftSidebar()")
      md-icon menu
    span(flex='')
    a(ui-sref='app.home' layout='row')
      img(alt="{{ 'MAIN.BRAND' | translate }}" src="/img/logo.png" width="24" height="24")
      span &nbsp;
      span(translate="MAIN.BRAND")
md-toolbar(hide-md="" hide-sm="")
  .md-toolbar-tools
    a(ui-sref='app.home' layout='row')
      img(alt="{{ 'MAIN.BRAND' | translate }}" src="/img/logo.png" width="24" height="24")
      span &nbsp;
      span(translate="MAIN.BRAND")
    // fill up the space between left and right area
    span(flex='')
    md-button(translate="MAIN.SIGN_IN" aria-label="{{'MAIN.SIGN_IN' | translate}}" ng-hide="app.user.isLogged" ui-sref="app.signIn" ui-sref-active="active")
    md-button(translate="MAIN.SIGN_UP" aria-label="{{'MAIN.SIGN_UP' | translate}}" ng-hide="app.user.isLogged" ui-sref="app.signUp" ui-sref-active="active")
    md-button(translate="MAIN.PROFILE" aria-label="{{'MAIN.PROFILE' | translate}}" ng-hide="!app.user.isLogged" ui-sref="app.profile" ui-sref-active="active")
    md-button(translate="MAIN.LOGOUT"  aria-label="{{'MAIN.LOGOUT' | translate}}" ng-hide="!app.user.isLogged" ng-click="app.logout()")
md-sidenav(md-component-id="left-menu" class="md-sidenav-left")
  md-toolbar
    .md-toolbar-tools
      span(flex='')
      md-button.md-icon-button(aria-label="Close" ng-click="app.toggleLeftSidebar()")
        md-icon close
  md-list
    md-list-item(aria-label="{{'MAIN.SIGN_IN' | translate}}" ng-hide="app.user.isLogged" ng-click="app.go('app.signIn')")
      p(translate="MAIN.SIGN_IN")
      md-divider
    md-list-item(aria-label="{{'MAIN.SIGN_UP' | translate}}" ng-hide="app.user.isLogged" ng-click="app.go('app.signUp')")
      p(translate="MAIN.SIGN_UP")
      md-divider
    md-list-item(aria-label="{{'MAIN.PROFILE' | translate}}" ng-hide="!app.user.isLogged" ng-click="app.go('app.profile')")
      p(translate="MAIN.PROFILE")
      md-divider
    md-list-item(aria-label="{{'MAIN.LOGOUT' | translate}}" ng-hide="!app.user.isLogged" ng-click="app.logout()")
      p(translate="MAIN.LOGOUT")
      md-divider