.profile-header-wrap
  .profile-info(layout="row" layout-sm="column" layout-align-sm="center center")
    .avatar
      img(src="/img/profile/user-default-avatar.jpg")
    .info(layout="column" layout-align="center start" layout-align-sm="center center")
      .name(ng-bind="profile.getFullName()")
      .email(ng-bind="profile.user.username")
      .location(layout="row" layout-align="start end" ng-if="profile.user.profile.city")
        md-icon location_on
        span(ng-bind="profile.user.profile.city")
        span(ng-if="profile.user.profile.country") ,&nbsp;
        span(ng-bind="profile.user.profile.country")
md-tabs(md-dynamic-height md-border-bottom)
  md-tab(label="{{'PROFILE.PROFILE' | translate}}")
    md-content.md-padding
      form(name="profile.userForm")
        div(layout layout-sm="column")
          md-input-container(flex)
            label(translate="PROFILE.LABELS.FNAME")
            input(type="text" ng-model='profile.user.profile.firstName' name="firstName")
          md-input-container(flex)
            label(translate="PROFILE.LABELS.LNAME")
            input(type="text" ng-model='profile.user.profile.lastName' name="lastName")
        div(layout layout-sm="column")
          md-input-container.md-input-always-float(layout flex="50")
            label(translate="PROFILE.LABELS.GENDER")
            md-radio-group.md-primary(ng-model='profile.user.profile.gender' layout flex-order="2")
              md-radio-button(value='male')
                span(translate="PROFILE.LABELS.MALE")
              md-radio-button(value='female')
                span(translate="PROFILE.LABELS.FEMALE")
          md-input-container.md-input-always-float(layout)
            label(translate="PROFILE.LABELS.BIRTHDAY")
            md-datepicker(ng-model="profile.user.profile.birthday" md-placeholder="{{'PROFILE.LABELS.BIRTHDAY_PLACEHOLDER' | translate}}" flex-order="2")
        md-input-container(flex='')
          label(translate="PROFILE.LABELS.ADDRESS")
          input(ng-model='profile.user.profile.address')
        div(layout='', layout-sm='column')
          md-input-container(flex='')
            label(translate="PROFILE.LABELS.CITY")
            input(ng-model='profile.user.profile.city')
          md-input-container(flex='')
            label(translate="PROFILE.LABELS.COUNTRY")
            input(ng-model='profile.user.profile.country')
          md-input-container(flex='')
            label(translate="PROFILE.LABELS.ZIP")
            input(ng-model='profile.user.profile.zip')
        div(layout layout-align="end center")
          md-button.md-raised.md-primary(translate="FORM.BTN.SAVE" ng-click='profile.saveProfile()' aria-label="{{ 'FORM.BTN.SAVE' | translate }}")
  md-tab(label="{{'PROFILE.PASSWORD' | translate}}")
    md-content.md-padding