//- main-layout.jade
doctype html
html(xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-app="app")

  block head
    include ../include/head

  body

    block main-content

    block scripts
      include ../include/scripts